<!DOCTYPE html>
<html lang="ja">
<head>
<!--
 *  JSブロック崩し -ひめかべ-  Ver.1.00
 *  Copyright (C)2014.5.27 by みなみせい
-->
<meta name="viewport" content="width=<%= image_width + margin_side * 2 %>">
<meta charset="UTF-8">
<title><%= title %></title>
<script src="hime.js"></script>
<style>
<!--
body {
  color:#555555;
  background:#FFFFFF;
  font-size:14px;
  text-align:center;
}

a:link {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: none;
}

a:visited {
  color: #999;
  text-decoration: none;
}

h1, #guide {
  background:#EEEEEE;
  border:1px solid #DDDDDD;
  width:480px;
  margin:16px auto;
  padding:6px;
}

h1 {
  font-size:16px;
}

#guide {
  font-size:12px;
  text-align:left;
}

#gamescreen {
  background:#E4E8F0;
  border:1px solid #B4B8C0;
  display:inline-block;
  position:relative;
  overflow:hidden;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#bootmsg {
  color:#FFFFFF;
  background:#586080;
  text-align:left;
  line-height:1.2;
  width:<%= image_width %>px;
  height:<%= image_height + paddle_margin_above + paddle_margin_below %>px;
  margin:0;
}

#msg {
  color:#3355FF;
  font:bold 32px sans-serif;
  text-shadow:-2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px -2px 0 #FFF, 2px 2px 0 #FFF;
}
-->
</style>
</head>
<body>
<h1><%= title %></h1>

<div id="gamescreen"><p>JavaScriptが無効です。動作には HTML5 Canvas に対応したブラウザが必要です。</p></div>

<pre id="guide">
【遊び方】
・ブロック崩しゲームです。ブロック(服)を崩すとイラストが表示されます。
・ゲーム画面をマウスクリック、またはタップするとボールを発射します。
・マウスを左右に動かすか、ゲーム画面を左右にスライドするとパドルが移動します。
・パドルの端でボールを打ち返すと、角度が変わります。
・パドルの中心でボールを打ち返すと、貫通弾になります。
・「S」キーを押すと、ボールが倍速／等速に切り替わります。

※画面のタッチ操作は対応環境のみで有効です。
</pre>

<p><a href="#">戻る</a></p>
<p>Script by <a href="http://sei.sakuraweb.com/lib/hime/index.html">Himekabe</a> / <a href="https://github.com/yuinore/cryptohime">Cryptohime</p>

</body>
</html>
